:root {
    --main-background: #ffffff;
    --main-nav-color: #585858;
    --main-greet-color: #c4c7c5;
    --card-background: #f0f4f9;
    --card-image-background: #ffffff;
    --card-text-color: #585858;
    --card-background-hover: #dfe4ea;
    --search-box-background: #f0f4f9;
    --search-box-focus-background: #e9eef6;
    --search-box-input-color: #1f1f1f;
    --result-title-color: #1f1f1f;
    --result-data-color: #1f1f1f;
    --main-bottom-info-color: #656a6f;
}

.dark {
    --main-background: #131314;
    --main-nav-color: #e3e3e3;
    --main-greet-color: #444746;
    --card-background: #1e1f20;
    --card-image-background: #131314;
    --card-background-hover: #333537;
    --card-text-color: #e3e3e3;
    --search-box-background: #1e1f20;
    --search-box-focus-background: #333537;
    --search-box-input-color: #e3e3e3;
    --result-title-color: #e3e3e3;
    --result-data-color: #e3e3e3;
    --main-bottom-info-color: #bdc1c6;
}

.dark .card-image img,
.dark .search-box img {
    filter: invert(100%);
}

.main {
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
    background-color: var(--main-background);
}

.main .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: var(--main-nav-color);
}

.main .nav p {
    cursor: pointer;
}

.main .nav img {
    width: 40px;
    border-radius: 50%;
}

.main-container {
    max-width: 900px;
    margin: auto;
}

.main .greet {
    margin: 50px 0px;
    font-size: 56px;
    color: var(--main-greet-color);
    font-weight: 500;
    padding: 20px;
}

.main .greet span {
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fade 1s cubic-bezier(0.6, 0.5, 0.8, 0.6);
}

@keyframes fade {
    0% {
        background-position: -200px 0px;
    }

    100% {
        background-position: 325px 0px;
    }
}

.main .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    padding: 20px;
}

.main .card {
    height: 200px;
    padding: 15px;
    background-color: var(--card-background);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.main .card-image {
    width: 35px;
    height: 35px;
    padding: 5px;
    position: absolute;
    background-color: var(--card-image-background);
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .card-image img {
    width: 80%;
    height: 80%;
}

.main .card p {
    color: var(--card-text-color);
    font-size: 17px;
}

.main .card:hover {
    background-color: var(--card-background-hover);
}

.main-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
}

.search-box {
    display: flex;
    align-content: center;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--search-box-background);
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box:focus-within {
    background-color: var(--search-box-focus-background);
}

.search-box input {
    color: var(--search-box-input-color);
}

.search-box img {
    width: 24px;
    cursor: pointer;
}

.search-box input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 16px;
}

.search-box div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.main .bottom-info {
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
    color: var(--search-box-input-color);
}

.result {
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y: scroll;
    scrollbar-width: none;
}

.result::-webkit-scrollbar {
    display: none;
}

.result-title {
    margin: 40px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--result-title-color);
    font-size: 18px;
}

.result img {
    width: 40px;
    border-radius: 50%;
}

.result-data {
    display: flex;
    align-items: start;
    gap: 20px;
    color: var(--result-data-color);
}

.loader {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loader hr {
    border-radius: 4px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #9ed7ff, #ffffff, #9ed7ff);
    background-size: 800px 50px;
    height: 20px;
    animation: loader 3s infinite linear;
}

@keyframes loader {
    0% {
        background-position: -800px 0px;
    }

    100% {
        background-position: 800px 0px;
    }
}

.result-data p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8;
}

@media (max-width: 600px) {
    .main-bottom input {
        flex: none;
        width: 150px;
    }

    .main-bottom img {
        width: 20px;
    }

    .search-box {
        padding: 5px 10px;
    }

    .search-box div {
        gap: 5px;
    }
}