:root {
  --slider-light-bg: #87CEEB;
  --slider-dark-bg: #333333;
  --slider-light-knob: #FFA500;
  --slider-dark-knob: #ffffff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--slider-light-bg);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: var(--slider-light-knob);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: var(--slider-dark-bg);
}

input:checked+.slider:before {
  transform: translateX(20px);
  background-color: var(--slider-dark-knob);
}